.cardContainer {
  width: max(300px, 300px);
  height: max(337.833px, 337.833px);
  background-color: #dc5357;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
.previewImage {
  height: max(70%, 7cd kanji2go 0%);
  width: max(90%, 90%);
  padding: 25px 10px 10px 10px;
}
.jlptHeader {
  width: max(100%, 100%);
  height: max(max-content, max-content);
  text-align: center;
  font-size: var(--chakra-fontSizes-4xl);
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
}
.description {
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-family: var(--chakra-fonts-body);
  line-height: var(--chakra-lineHeights-base);
}

.previewIconContainer,
.downloadIconContainer {
  width: max(30px, 30px);
  height: max(30px, 30px);
  position: absolute;
  background-color: #221f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.previewIconContainer {
  top: 30px;
  right: -30px;
}
.downloadIconContainer {
  top: 70px;
  right: -30px;
}
.previewIconContainer:hover,
.downloadIconContainer:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.563);
}
.previewIcon {
  width: max(25px, 25px);
  height: max(25px, 25px);
}

.banner {
  position: absolute;
  top: 2.5%;
  left: -2%;
  padding: 4px;
  width: max(80px, 80px);
  height: max(max-content, max-content);
  text-align: center;

  box-shadow: 1px 1px 5px black;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.bannerShadow {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: max(6.75px, 6.75px);
  height: max(5px, 5px);
  border-bottom-left-radius: 2px;
}
.blueBanner {
  background-color: blue;
}
.redBanner {
  background-color: rgb(184, 3, 3);
}
.greenBanner {
  background-color: green;
}
.bannerShadowBlue {
  background-color: rgb(2, 2, 116);
}
.bannerShadowGreen {
  background-color: rgb(0, 67, 0);
}
.bannerShadowRed {
  background-color: rgb(130, 0, 0);
}
.kanjiSelectionContainer {
  width: max(330px, 330px);
  height: max(330px, 330px);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr;
}
.kanjiSelectorButtons {
  margin-top: 20px;
  width: max(80%, 80%);
  height: max(100%, 100%);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-left: 15px;
  margin-right: auto;
}
.vocabSelectorButtons {
  margin-top: 10px;
  width: max(90%, 90%);
  height: max(100%, 100%);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 5px;
  margin-right: auto;
}
@media (min-width: 1800px) {
  .cardContainer {
    height: max(337.833px, 337.833px);
    width: max(300px, 300px);

    background-color: #dc5357;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .cardContainer {
    height: max(337.833px, 337.833px);
    width: max(300px, 300px);

    background-color: #dc5357;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 320px) {
  .cardContainer {
    height: max(337.833px, 337.833px);
    width: max(300px, 300px);
    margin-top: 10px;
    background-color: #dc5357;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
  }
}
