.cardContainer {
  width: max(300px, 300px);
  height: max(337.833px, 337.833px);
  background-color: #dc5357;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
@media (min-width: 320px) {
  .cardContainer {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 960px) {
}
@media (min-width: 1200px) {
  .cardContainer {
    width: max(300px, 300px);
  }
}
@media (min-width: 1800px) {
  .cardContainer {
    height: max(337.833px, 337.833px);
  }
}

.cardContainer:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.563);
}
.previewIconContainer,
.downloadIconContainer {
  width: max(30px, 30px);
  height: max(30px, 30px);
  position: absolute;

  background-color: #221f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.previewIconContainer {
  top: 30px;
  right: -30px;
}
.downloadIconContainer {
  top: 70px;
  right: -30px;
}
.cardContainer .previewIconContainer:hover,
.cardContainer .downloadIconContainer:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.563);
}
.previewIcon {
  width: max(75%, 75%);
  height: max(75%, 75%);
  z-index: 1;
}

.banner {
  position: absolute;
  top: 2.5%;
  left: -2%;
  padding: 4px;
  width: max(80px, 80px);
  height: max(max-content, max-content);
  text-align: center;

  box-shadow: 1px 1px 5px black;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.bannerShadow {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: max(6.75px, 6.75px);
  height: max(5px, 5px);
  border-bottom-left-radius: 2px;
}
.blueBanner {
  background-color: blue;
}
.redBanner {
  background-color: rgb(184, 3, 3);
}
.greenBanner {
  background-color: green;
}
.bannerShadowBlue {
  background-color: rgb(2, 2, 116);
}
.bannerShadowGreen {
  background-color: rgb(0, 67, 0);
}
.bannerShadowRed {
  background-color: rgb(130, 0, 0);
}
.kanjiSelectionContainer {
  width: max(330px, 330px);
  height: max(330px, 330px);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr;
}
.kanjiSelectorButtons {
  margin-top: 20px;
  width: max(80%, 80%);
  height: max(100%, 100%);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-left: 15px;
  margin-right: auto;
}
.vocabSelectorButtons {
  margin-top: 10px;
  width: max(90%, 90%);
  height: max(100%, 100%);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 5px;
  margin-right: auto;
}
