.httpRequestError {
  text-align: center;
  color: red;
  height: max(100vh, 100vh);
  width: max(100vw, 100vw);
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
}
.flashcardsLoading {
  text-align: center;
  color: white;
  height: max(100vh, 100vh);
  width: max(100vw, 100vw);
  font-size: 6rem;
  position: fixed;
  top: 0;
  left: 0;
}
