.mainContainer {
  display: grid;
  height: max(100%, 100%);
  width: max(100%, 100%);
  grid-template-rows: repeat(14, 120px);
  column-gap: 0;
  color: black;
  overflow-x: scroll;
}
@media (max-width: 1500px) {
  .mainContainer {
    width: max(100vw, 100vw);
  }
}
