.mainContainer {
  position: relative;
  display: grid;
  place-items: center;
  width: max(100vw, 100vw);
  margin: 0;
}

.titleContainer {
  width: max(100%, 100%);
  height: max(150px, 150px);
  background-color: #dc5357;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleHeading {
  width: max(max-content, max-content);
  text-align: center;
  height: max(max-content, max-content);
  color: #221f1f;
  border-bottom: 2px solid #221f1f;

  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
  font-size: 64px;
}
.quizContainer {
  width: max(100%, 100%);
  height: max(1000px, 1000px);
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #221f1f;
  border-bottom: 1px solid white;
}
.quizWindowContainer {
  height: max(800px, 800px);
  width: max(600px, 600px);
  display: grid;
  grid-template-rows: 200px 600px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.scoreWindowContainer {
  height: max(800px, 800px);
  width: max(100%, 100%);
  display: grid;
  grid-template-rows: 180px 660px;
  grid-template-columns: 100%;
  align-content: space-between;

  justify-items: center;
  position: relative;
}
.canvasContainer {
  height: max(600px, 600px);
  width: max(600px, 600px);
}
.newTestButton,
.scoreTestButtonActive,
.questionMenu {
  width: max(150px, 150px);
  height: max(100px, 100px);
  background-color: #dc5357;
  color: black;
  border-radius: 20px;
  font-size: 24px;
}
.scoreTestButtonDisabled {
  width: max(150px, 150px);
  height: max(100px, 100px);
  background-color: rgb(119, 113, 113);
  color: rgb(197, 195, 195);
  border-radius: 20px;
  font-size: 24px;
}
.newTestButton:hover,
.scoreTestButton:hover,
.questionMenu:hover {
  box-shadow: 0 0 10px white;
  color: black;
}

.newTestButton {
  position: absolute;
  top: 25px;
  right: 3%;
}
.scoreTestButtonDisabled,
.scoreTestButtonActive {
  position: absolute;
  top: 150px;
  right: 3%;
}
.quizCanvasBackdrop {
  background-color: white;
  width: max(max-content, max-content);
  height: max(max-content, max-content);
  position: relative;
  border-radius: 10px;
}
.icon {
  width: max(90%, 90%);
  height: max(90%, 90%);
}
.questionMenu,
.questionDisabledMenu {
  position: absolute;
  top: 25px;
  left: 3%;
}
.questionActiveMenu {
  box-shadow: 0 0 10px white;
  background-color: #f3bdbd;
  color: black;
}
.questionDisabledMenu {
  width: max(150px, 150px);
  height: max(100px, 100px);
  background-color: rgb(119, 113, 113);
  color: rgb(197, 195, 195);
  border-radius: 20px;
  font-size: 24px;
}
@media (max-width: 1415px) {
  .quizContainer {
    height: max(1600px, 1600px);
    justify-content: center;
    align-content: flex-start;
  }
  .quizWindowContainer {
    margin-top: 100px;
  }
  .quizWindowContainer {
    width: max(600px, 600px);
    height: max(800px, 800px);
    grid-template-rows: 200px 650px;
  }
  .scoreWindowContainer {
    align-content: flex-start;
  }
}
@media (max-width: 1260px) {
  .scoreWindowContainer {
    margin-top: 14px;
  }
  .newTestButton,
  .scoreTestButtonActive,
  .questionMenu,
  .questionDisabledMenu,
  .scoreTestButtonDisabled {
    width: max(120px, 120px);
    height: max(75px, 75px);
    font-size: 20px;
    border-radius: 10px;
  }
}
@media (max-width: 1170px) {
  .scoreWindowContainer {
    margin-top: 110px;
  }
  .newTestButton,
  .scoreTestButtonActive,
  .questionMenu,
  .questionDisabledMenu,
  .scoreTestButtonDisabled {
    width: max(120px, 120px);
    height: max(75px, 75px);
    font-size: 20px;
    border-radius: 10px;
  }
  .newTestButton {
    position: absolute;
    top: 1.25%;
    right: 20px;
  }
  .scoreTestButtonDisabled,
  .scoreTestButtonActive,
  .questionMenu {
    top: 1.25%;
    right: 160px;
  }
  .questionDisabledMenu,
  .questionActiveMenu {
    top: 1.25%;
    left: 3%;
  }
}
@media (max-width: 920px) {
  .scoreWindowContainer {
    margin-top: 110px;
  }
  .quizWindowContainer {
    width: max(600px, 600px);
    height: max(660px, 660px);
    grid-template-rows: 220px 400px;
  }
}
@media (max-width: 700px) {
  .scoreWindowContainer {
    margin-top: 110px;
  }
  .quizWindowContainer {
    width: max(400px, 400px);
    height: max(660px, 660px);
    grid-template-rows: 220px 400px;
  }
  .quizCanvasBackdrop {
    margin-top: 140px;
  }
}
@media (max-width: 600px) {
  .titleHeading {
    font-size: 48px;
  }
}
@media (max-width: 400px) {
  .titleHeading {
    font-size: 42px;
  }
}
