.mainContainer {
  position: absolute;
  top: 18.5%;
  left: 3%;
  height: min(max-content, 600px);
  width: max(200px, 200px);
  background-color: #dc5357;
  z-index: 3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.questionContainer:last-of-type {
  margin-bottom: 8.5px;
}
.questionContainer {
  width: max(180px, 180px);
  height: max(50px, 50px);
  display: grid;
  grid-template-columns: 120px 60px;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.questionContainer:hover {
  box-shadow: 0 0 10px white;
  background-color: #f3bdbd;
  color: black;
  border-radius: 10px;
}
.activeQuestion {
  box-shadow: 0 0 10px white;
  background-color: #f3bdbd;
  color: black;
  border-radius: 10px;
}
.questionTitle {
  width: max(100%, 100%);
  height: max(100%, 100%);

  font-size: 22px;
  line-height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.checkMarkContainer {
  width: max(60px, 60px);
  height: max(60px, 60px);

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: max(60%, 60%);
  height: max(60%, 60%);
  margin-bottom: 10px;
  color: green;
}
@media (max-width: 1260px) {
  .mainContainer {
    top: 120px;
    left: 3%;
  }
}
