.selectorContainer {
  width: max(90%, 90%);
  height: max(60px, 60px);
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: space-between;

  font-size: 36px;
  color: black;
  background-color: white;
}
.activeContainer {
  border: 3px solid #a00303;
  border-radius: 8px;
}
.icon {
  width: max(40px, 40px);
  height: max(40px, 40px);
  margin-right: 10px;
}
.kanji {
  margin-left: 10px;
}
