.mainContainer {
  width: max(100%, 100%);
  height: max(100px, 100px);
  padding: 0;
  background-color: #221f1f;
  margin: 0;
  position: relative;
  color: white;
}

.searchIcon {
  width: max(30px, 30px);
  height: max(30px, 30px);
  color: #e15e5e;
}
.chevronDownIcon {
  width: max(30px, 30px);
  height: max(30px, 30px);
  color: #e15e5e;
  margin-top: 1.5px;
}
.userIcon {
  height: max(30px, 30px);
  width: max(30px, 30px);
  margin-right: 10px;
}
.shoppingCardIcon {
  height: max(30px, 30px);
  width: max(30px, 30px);
  color: white;
}
.loginButtonClicked {
  background-color: black;
  width: max(50px, 50px);
  height: max(100px, 100px);
  z-index: 4;
}
@media (max-width: 700px) {
  .userIcon {
    height: max(20px, 20px);
    width: max(20px, 20px);
    margin-right: 10px;
  }
}
