.addingMenu {
  background-color: inherit;
  height: max(max-content, max-content);
  width: max(max-content, max-content);
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 15px;
  color: black;
}
.btn {
  width: max(200px, 200px);
  height: max (50px, 50px);
  font-size: 26px;
  margin-top: 15px;
}
.kanjiButton {
  margin-top: 25px;
  width: max(200px, 200px);
  height: max (50px, 50px);
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: bolder;
}
@media (max-width: 620px) {
  .btn {
    width: max(150px, 150px);
    height: max (50px, 50px);
    font-size: 24px;
    margin-top: 15px;
  }
  .kanjiButton {
    margin-top: 25px;
    width: max(150px, 150px);
    height: max (50px, 50px);
  }
}
@media (max-width: 560px) {
  .btn {
    width: max(125px, 125px);
    height: max (50px, 50px);
    font-size: 24px;
    margin-top: 15px;
  }
  .kanjiButton {
    margin-top: 25px;
    width: max(125px, 125px);
    height: max (50px, 50px);
  }
}
@media (max-width: 400px) {
  .btn {
    width: max(90px, 90px);
    height: max (50px, 50px);
    font-size: 24px;
    margin-top: 15px;
  }
  .kanjiButton {
    margin-top: 25px;
    width: max(90px, 90px);
    height: max (50px, 50px);
  }
}
