.blankAddContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  height: max(300px, 300px);
  width: max(500px, 500px);
  transform: translate(-50%, -50%);
  background-color: #221f1f;
  z-index: 5;
  border-radius: 30px;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 10px white;
}

.mainTitle {
  height: max(max-content, max-content);
  width: max(max-content, max-content);
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  margin-top: 15px;
  color: white;
}

.selector {
  width: max(400px, 400px);
  height: max(80px, 80px);
  display: grid;
  grid-template-columns: max-content 100px;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.numberHelperText {
  color: white;
  text-align: center;
  font-size: 26px;
  width: max(150px, 150px);
  height: max(max-content, max-content);
}
.dropDownMenu {
  height: max(40px, 40px);
  width: max(70px, 70px);
  color: white;
  background-color: #221f1f;
  font-size: 26px;
}
.btnContainer {
  width: max(400px, 400px);
  height: max(150px, 150px);
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: space-between;
}
.btn {
  width: max(160px, 160px);
  height: max(80px, 80px);
  border-radius: 10px;
  font-size: 32px;
  font-weight: bolder;
}

.activeButton:hover {
  background-color: #ff0008e0;
}
.submitButtonDisabled {
  background-color: hsla(0, 0%, 71%, 0.439);
  color: rgba(255, 255, 255, 0.438);
}
.activeButton {
  color: white;
  background-color: #dc5357;
}
.closingBtn {
  height: max(45px, 45px);
  width: max(45px, 45px);
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #dc5357;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.icon {
  height: max(90%, 90%);
  width: max(90%, 90%);
  color: black;
}
@media (max-width: 550px) {
  .blankAddContainer {
    height: max(220px, 220px);
    width: max(300px, 300px);
    display: grid;
    place-items: center;
  }
  .mainTitle {
    font-size: 26px;
  }
  .closingBtn {
    height: max(30px, 30px);
    width: max(30px, 30px);
    top: 10px;
    right: 10px;
  }
  .selector {
    width: max(250px, 250px);
    grid-template-columns: max-content 50px;
    margin-top: 0px;
  }
  .numberHelperText {
    font-size: 22px;
    width: max(max-content, max-content);
  }
  .dropDownMenu {
    height: max(40px, 40px);
    width: max(50px, 50px);
    font-size: 22px;
  }
  .btnContainer {
    width: max(250px, 250px);
    height: max(60px, 60px);

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    width: max(100px, 100px);
    height: max(60px, 60px);
    border-radius: 10px;
    font-size: 22px;
    font-weight: bolder;
  }
}
